@model SportsStore_Web_Shop_Application.WebUI.Models.LoginViewModel

@{
    ViewBag.Title = "Administracja: Logowanie";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Content/animate.css" rel="stylesheet" />
<link href="~/Content/signin.css" rel="stylesheet" />



<body class="text-center">

    <div class="form-signin">
        <div class="slide-top ">
            <img class="mb-4" src="https://i.imgur.com/eh40JGn.png" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Zaloguj się</h1>

            @using (Html.BeginForm()) 
            {

                        @Html.ValidationSummary()

                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Nazwa użytkownika", required = "required" })

                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Hasło", required = "required" })

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Zapamiętaj mnie
                    </label>
                </div>
                <input type="submit" value="Zaloguj się" class="btn btn-lg btn-primary btn-block" />
                <p class="mt-5 mb-3 text-muted">&copy; Piotr Tuński @DateTime.Now.Year.ToString()</p>
            }

        </div>
    </div>
</body>

